body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5; /* Nice background color */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container h1 {
  text-align: center;
  color: #333;
}

.form-container {
  margin-bottom: 20px;
}

.form-container input[type="text"] {
  /* width: calc(100% - 80px); */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
}

.form-container button {
  /* width: 80px; */
  /* margin-top: 10px; */
  margin-left: 5px;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff; /* Nice button color */
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.todo-item button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
